<div class="container">
    {{ component 'layout/header' }}

    {{ component 'layout/navbar' }}
    
    {{ component 'main/history' 'main/profile' 'main/plans' 'main/search' 'main/plan-view' 'main/cart' }}
</div>