<div class="modal modal--closed flex--a-start flex--j-center" id="new-course-modal">
    <form class="modal__main card" onsubmit "Course.addDetails()">
        <div class="card__header flex flex--a-center flex--j-space-between">
            <div>
                <h1>New course.</h1>
                <p>Start new course</p>
            </div>
            <svg class="image--icon" onclick "Util.closeModal('new-course')">
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="card__body flex">
            <div class="flex" style="flex: 0 0 25rem; flex-direction: column;">
                <div class="image-upload-preview margin--right-2">
                    <div class="image--back image-upload-preview__back" id="thumbnail-preview" style="background-image: url('/assets/uploads/thumbnails/default-playlist.jpg');"></div>
                    <p class="pos--abs pos--center" id="thumbnail-progress">0.0% Complete</p>
                </div>
                <input type="file" id="course-thumbnail" onchange "Course.addThumbnail()" hidden>
                <label for="course-thumbnail" style="text-align: center;">Select thumbnail</label>
            </div>
            <div style="flex: 1;">
                <div class="error-container hide" id="course-error">
                    <p></p>
                </div>
                
                <div class="input">
                    <label class="input__label" for="course-name">Course name</label>
                    <input type="text" id="course-name" placeholder="e.g. Introduction to python fundamentals">
                </div>

                <div class="input margin--top-2">
                    <label class="input__label" for="course-description">Course description</label>
                    <textarea id="course-description" placeholder="e.g. This course covers the basic of python: variables, data types, command-line and the like"></textarea>
                </div>
                <div class="flex flex--a-start margin--top-1" style="flex-wrap: wrap; gap: 1rem;">
                    <div class="flex" id="category-container" style="flex-wrap: wrap; gap: 1rem;"></div>
                    <div class="category-selection-new-cat">
                        <div class="flex" onclick "Account.showCategories()">
                            <svg class="image--icon margin--right-1">
                                <use href="#add"></use>
                            </svg>
                            <span>add category</span>
                        </div>
                        <div class="category-selection-new-cat__options hide" onload "Account.loadCategories()">
                            <p>Artificial Intelligence</p>
                            <p>Web Development</p>
                            <p>Game Development</p>
                            <p>Virtual Reality</p>
                            <p>Augumented Reality</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__footer">
            <button class="btn btn--primary">Create course</button>
            <button type="button" class="btn" onclick "Util.closeModal('new-course')">Cancel</button>
        </div>
    </form>
</div>