<div class="navbar">
    <ul class="flex">
        <a href="/history" class="flex flex--a-center" {{click "Util.nav(event)"}}>
            <svg class="image--icon">
                <use href="#clock"></use>
            </svg>
            <span>History</span>
        </a>
        <a href="/profile" class="flex flex--a-center" {{click "Util.nav(event)"}}>
            <svg class="image--icon">
                <use href="#user"></use>
            </svg>
            <span>Profile</span>
        </a>
    </ul>
</div>