{{~ scope 'history' }}

<div class="container__padded">
    <div class="container__title">
        <h1>History</h1>
        <p>Keep track of your comparisons</p>
        <div class="container__title__hr"></div>
    </div>
</div>