{{~ scope 'home' }}

<div class="home">
    <div class="home__showcase">
        <div class="home__showcase__caption">
            <h1 class="flex flex--column">
                <span>Let's help</span>
                <span>You</span>
                <span>Find the</span>
                <span>Best prices</span>
            </h1>
        </div>
        <img src="/assets/illustrations/Revenue-bro.svg" alt="">
    </div>
    <div class="home__partners">
        <div class="home__title flex flex--center">
            <div>
                <h1>Our partners</h1>
                <div class="home__title__hr"></div>
            </div>
        </div>
        <div class="home__partners__list flex flex--center">
            <div class="home__partners__list__item">
                <img src="/assets/backgrounds/builders.png" alt="">
                <div class="home__partners__list__item__details">
                    <h4>Builder's</h4>
                </div>
            </div>
            <div class="home__partners__list__item">
                <img src="/assets/backgrounds/ctm.png" alt="">
                <div class="home__partners__list__item__details">
                    <h4>CTM</h4>
                </div>
            </div>
            <div class="home__partners__list__item">
                <img src="/assets/backgrounds/cashbuild-logo.jpg" alt="">
                <div class="home__partners__list__item__details">
                    <h4>Cashbuild</h4>
                </div>
            </div>
        </div>
    </div>
</div>

