{{~ scope 'search' }}

<div id="home" style="padding: 5rem 15%;">
    <h4>Search</h4>
    <p style="margin-bottom: 2rem;">Material from external websites</p>

    <div class="flex">
        <div class="input margin--right-2" style="flex: 1;">
            <input type="text" id="query-text" placeholder="Search...">
        </div>
        <button class="btn btn--primary" {{click "Search.search()"}}>Search</button>
    </div>
    <div id="products" style="display: grid; gap: 1rem; grid-template-columns: repeat(4, 1fr);" class="margin--top-2">
        
    </div>
</div>