{{~ scope 'search' }}

<div id="home">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti error non alias magnam incidunt pariatur illum voluptatem mollitia obcaecati cumque praesentium ipsum unde qui fugit saepe autem assumenda, rerum sit.
</div>