{{~ scope 'search' }}

<div id="home" style="padding: 5rem 15%;">
    <h4>Page reserved</h4>

    <p>
        this page is reserved for searching external sites i.e. CTM, buildit, cashbuild
    </p>
</div>