<div class="no-content flex flex--a-center" style="padding-top: 12rem">
    <img src="/assets/illustrations/ufo.svg" style="width: 30rem;" alt="Account not found">
    <h4>Account not found</h4>
    <p>Please ensure that the URL is typed correctly</p>
    <a href="/" {{click "Util.nav(event)"}}>
        <button class="btn btn--primary margin--top-1">Go home</button>
    </a>
</div>