<div class="no-content flex flex--a-center">
    <img src="/assets/illustrations/construction.svg" alt="No video">
    <h4>Content not found </h4>
    <p>This course has no videos or the link is incorrect</p>
    <button class="btn margin--top-1">go to home</button>
</div>